.body {
    max-width: 80%;
    margin: 40px auto;
    background-color: rgb(189, 193, 193);
  }
  
  header, main {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 10px 5px 10px grey;
    padding: 10px;
  }
  
  .container {
    margin: 20px 0 20px 0;
  }
  
  .form-select {
    width: 30%;
  } 