
/* Header */
.header {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: rgb(28, 28, 95);
color: bisque;
}

/* Conteúdo */
.content {
  padding: 5px;
  background-color: rgb(12, 117, 117);
}

.card {
  margin: 5px;
}

.card h4 {
  color: rgb(63, 160, 245);
}

.card p {
  color: rgb(182, 216, 246);
}

/* Rodapé */
.footer{
  background-color: rgb(28, 28, 95);
  padding: 10px;
  color: aliceblue;
}